@import url("../pages/homePage/HomePage.module.css");
@import url("../pages/movieDetailsPage/MovieDetailsPage.module.css");
@import url("../pages/moviesPage/MoviesPage.module.css");
@import url("../pages/notFoundPage/NotFoundPage.module.css");

#root {
  max-width: 1280px;
}

body {
  background-color: rgb(225, 250, 215);
  margin: 0 auto;
}