.not-found-container {
    background-color: #fff;
    margin: 100px 200px 0 200px;
    border: 3px solid rgb(255, 0, 0);
    border-radius: 7px;
  }
  
  .not-found-msg {
    text-align: center;
    font-weight: 700;
    font-size: large;
    padding: 20px 0;
    color: rgb(255, 0, 0);
  }